<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">[Nome do Sistema]</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="cliente">Clientes</a>
            <a class="nav-item nav-link" routerLink="cotacao">Cotações</a>
            <a class="nav-item nav-link" routerLink="ordem">Ordens</a>
        </div>
    </div>
</nav>

<div class="mt-5">
    <router-outlet></router-outlet>
</div>