<div class="card" style="margin-top: 20px" *ngIf="form" >
    <div class="card-header">
    Detalhes Form
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label">
                        Form Valido: {{ form.valid }}
                    </label>
                </div>
            </div>
        </div>  
            
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label">Form Submetido: {{ form.submitted }}</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label" >
                        <pre>Valores:{{ form.value | json }}</pre>
                    </label>                    
                </div>
            </div>
        </div>
    </div>
</div>